.photo-container{
    padding-left: 39px;;
}
.picname{

    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: 'Bagel Fat One', cursive;
}
.h2{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: 'Bagel Fat One', cursive;
}